.pic{
    box-sizing: border-box;
    border: 1px solid white;
    width: 280px;
    height:180px;
    position: relative;
    left: 30px;
    top: 20px;
    background-image: url(images.jpg);
    background-repeat: no-repeat;
}
.content1{
      box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    position: relative;
    top: 20px;
    padding: 30px;
    background: #02AAB0;
    opacity: 1;
    border: none;
}